*.zip
tmp
jmeter.log
target
extra
.idea/
*.iml
*.ipr
*.iws
nb*.xml
.project
.classpath
.settings
db*.log
db.data
db.redo
.#webclasspath
.tomcatplugin
.metadata
velocity.log*
.cache
work
*global-groovy.log
glassfish-web.xml
context.xml
.pmd
jrebel.xml
.DS_Store
activemq-data
/germany/belen-selenium-tests/nbactions.xml
.checkstyle
test-output/
node
node_modules
dist
app/webapp-static/node/
logDir/
dependency-reduced-pom.xml

